.left, .right {
    position: relative;
    height: 100px;
    width: 100px;
    background: #212121;
    float: left;
}

.left {
  color: #80D8FF;
  font-size: 75px;
  line-height: 95px;
  padding-left: 30px;
  font-family: 'Fredericka the Great', "serif";
}

.left:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #212121;
    border-bottom: 50px solid transparent;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    right: -50px;
}

div.right {
    background-color: transparent;
}
